# TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: water-meter/.gitignore:156 %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: 7ed2aac131c76240348a5ea802761ed87d7e1731 %
#  %ccm_git_commit_id: 7297d224e38a7887c494edb01cda0f8167185bf0 %
#  %ccm_git_commit_count: 156 %
#  %ccm_git_commit_date: 2026-09-25 20:27:36 -0400 %
#  %ccm_git_commit_author: mpegg %
#  %ccm_git_commit_email: mpegg@hotmail.com %
#  %ccm_git_commit_message: cleanup %
#  %ccm_git_modify_date: 2026-09-25 20:27:37 %
#  %ccm_git_file_last_modified: 2026-08-07 19:00:55 %
#  %ccm_git_file_name: .gitignore %
#  %ccm_git_path: water-meter/.gitignore %
#  %ccm_git_language_mode: git %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 89 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Build artifacts
*.egg-info/
dist/
build/
