#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: unknown %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: e565d10f995d5aedaab51860e73afdbffd179c1c %
#  %ccm_git_commit_id: unknown %
#  %ccm_git_commit_count: unknown %
#  %ccm_git_commit_date: unknown %
#  %ccm_git_commit_author: unknown %
#  %ccm_git_commit_email: unknown %
#  %ccm_git_commit_message: unknown %
#  %ccm_git_modify_date: 2025-10-30 12:38:21 %
#  %ccm_git_file_last_modified: 2025-10-30 12:38:21 %
#  %ccm_git_file_name: .gitignore %
#  %ccm_git_path: .gitignore %
#  %ccm_git_language_mode: git %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 356 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
# %git_commit_history: big update % 
# %git_commit_history: service updates % 
# Python
__pycache__/
*.pyc
.venv/
venv/
.tox/

# Node
node_modules/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.history/

# Logs & tmp
*.log
tmp/
.cache/

# Build/dist
dist/
build/

# Local envs
.env
.env.*.local
secrets/*.json
env/*.env

infra/docker/env/snipeit.env
infra/docker/env/*.env
.cache_ggshield
