#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: .gitignore:122 %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: 3dacaf3d2dab64fa73a1bd05ecf75b1c7ec70eb6 %
#  %ccm_git_commit_id: 911abf33d3a165541ef9f5e4f965e884eb2a438e %
#  %ccm_git_commit_count: 122 %
#  %ccm_git_commit_date: 2025-11-30 15:57:30 -0500 %
#  %ccm_git_commit_author: mpegg %
#  %ccm_git_commit_email: mpegg@hotmail.com %
#  %ccm_git_commit_message: logging cleanup %
#  %ccm_git_modify_date: 2025-11-30 15:57:31 %
#  %ccm_git_file_last_modified: 2025-11-30 15:57:31 %
#  %ccm_git_file_name: .gitignore %
#  %ccm_git_path: .gitignore %
#  %ccm_git_language_mode: git %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 512 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
# %git_commit_history: updates % 
# %git_commit_history: update to gitignore % 
# %git_commit_history: adding secret-service % 
# %git_commit_history: big update % 
# %git_commit_history: service updates % 
# Python
__pycache__/
*.pyc
.venv/
venv/
.tox/

# Node
node_modules/

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
.history/

# Logs & tmp
*.log
tmp/
.cache/

# Build/dist
dist/
build/

# Local envs
.env
.env.*.local
secrets/*.json
env/*.env

infra/docker/env/*.env
.cache_ggshield
infra/docker/env/*_password.txt
hams/esphome/.esphome
