#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: infra/dhcp/configs/isc-dhcp/templates/dhcp.conf.template:0 %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: 9210cc650f4c5d2b2d814408bb2676211fbf4263 %
#  %ccm_git_commit_id: unknown %
#  %ccm_git_commit_count: 0 %
#  %ccm_git_commit_date: 1970-01-01 00:00:00 +0000 %
#  %ccm_git_commit_author: unknown %
#  %ccm_git_commit_email: unknown %
#  %ccm_git_commit_message: unknown %
#  %ccm_git_modify_date: 2025-09-27 11:12:09 %
#  %ccm_git_file_last_modified: 2025-09-20 12:46:35 %
#  %ccm_git_file_name: dhcp.conf.template %
#  %ccm_git_path: infra/dhcp/configs/isc-dhcp/templates/dhcp.conf.template %
#  %ccm_git_language_mode: template %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 1416 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
# DHCP Configuration Template
# This template generates ISC DHCP server configuration from device inventory

# Global Options
option domain-name "{{DOMAIN_NAME}}";
option domain-name-servers {{DNS_SERVERS}};
default-lease-time {{DEFAULT_LEASE_TIME}};
max-lease-time {{MAX_LEASE_TIME}};
authoritative;

# Logging
log-facility local7;

{% for subnet in SUBNETS %}
# Subnet: {{subnet.description}}
subnet {{subnet.network_addr}} netmask {{subnet.netmask}} {
    range {{subnet.dhcp_start}} {{subnet.dhcp_end}};
    option routers {{subnet.gateway}};
    option broadcast-address {{subnet.broadcast}};
    {% if subnet.domain_name %}
    option domain-name "{{subnet.domain_name}}";
    {% endif %}
    {% if subnet.dns_servers %}
    option domain-name-servers {{subnet.dns_servers}};
    {% endif %}
}

{% endfor %}

# Static Host Reservations
{% for device in STATIC_DEVICES %}
host {{device.hostname}} {
    hardware ethernet {{device.mac_address}};
    fixed-address {{device.ip_address}};
    {% if device.hostname %}
    option host-name "{{device.hostname}}";
    {% endif %}
    {% for option in device.dhcp_options %}
    {{option}};
    {% endfor %}
}

{% endfor %}

# Dynamic Host Groups by Device Type
{% for device_type in DEVICE_TYPES %}
class "{{device_type}}" {
    match if substring(option vendor-class-identifier, 0, {{device_type.identifier_length}}) = "{{device_type.identifier}}";
}

{% endfor %}
