#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: infra/docker/env/nextcloud.env.example:132 %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: a76c2912e51a992105ff32e475379b4fe4e38e42 %
#  %ccm_git_commit_id: 6e67c9cb056223d2c5e30fd43ff735f0e43b37fb %
#  %ccm_git_commit_count: 132 %
#  %ccm_git_commit_date: 2026-02-07 16:19:47 -0500 %
#  %ccm_git_commit_author: mpegg %
#  %ccm_git_commit_email: mpegg@hotmail.com %
#  %ccm_git_commit_message: comment cleanup %
#  %ccm_git_modify_date: 2026-02-07 16:19:47 %
#  %ccm_git_file_last_modified: 2026-02-07 16:19:47 %
#  %ccm_git_file_name: nextcloud.env.example %
#  %ccm_git_path: infra/docker/env/nextcloud.env.example %
#  %ccm_git_language_mode: example %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 415 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
# %git_commit_history: 2026-02-07 mpegg  feb2026  % 
# .env.example for Nextcloud
# Copy to nextcloud.env and fill in secrets

# PostgreSQL database on host
POSTGRES_DB=nextcloud
POSTGRES_USER=nextcloud
POSTGRES_PASSWORD=
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432

# Nextcloud admin credentials
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=

# Trusted domains (space-separated)
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.termitetowers.ca localhost

TZ=UTC
