MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_PASSWORD=your_mysql_user_password
PDNS_API_KEY=your_powerdns_api_key
PDNS_gmysql_password=your_powerdns_db_password
SECRET_KEY=your_powerdns_admin_secret
POSTGRES_PASSWORD=your_postgres_password
PDNS_ADMIN_USERNAME=admin
PDNS_ADMIN_PASSWORD=admin
SQLALCHEMY_DATABASE_URI=postgresql://pdnsadmin:your_postgres_password@powerdns-admin-db-dev1/powerdnsadmin
TZ=America/Toronto
