#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_start:  %
#  %ccm_git_repo: TermiteTowers %
#  %ccm_git_branch: dev1 %
#  %ccm_git_object_id: infra/docker/env/watchyourlan.env.example:122 %
#  %ccm_git_author: mpegg %
#  %ccm_git_author_email: mpegg@hotmail.com %
#  %ccm_git_blob_sha: d18389feb5249f576b20067a7f51335700b25817 %
#  %ccm_git_commit_id: 911abf33d3a165541ef9f5e4f965e884eb2a438e %
#  %ccm_git_commit_count: 122 %
#  %ccm_git_commit_date: 2025-11-30 15:57:30 -0500 %
#  %ccm_git_commit_author: mpegg %
#  %ccm_git_commit_email: mpegg@hotmail.com %
#  %ccm_git_commit_message: logging cleanup %
#  %ccm_git_modify_date: 2025-11-30 15:57:33 %
#  %ccm_git_file_last_modified: 2025-11-08 11:01:15 %
#  %ccm_git_file_name: watchyourlan.env.example %
#  %ccm_git_path: infra/docker/env/watchyourlan.env.example %
#  %ccm_git_language_mode: example %
#  %ccm_git_file_type: text/plain %
#  %ccm_git_file_encoding: us-ascii %
#  %ccm_git_file_eol: CRLF %
#  %ccm_git_exec: no %
#  %ccm_git_size: 212 %
#  TermiteTowers Continuous Code Management Header TEMPLATE --- %ccm_git_header_end:  %  
PG_DB=watchyourlan
PG_USER=watchyourlan
PG_PASS=changeme_watchyourlan_password
PG_CONNECT=postgres://watchyourlan:hangeme_watchyourlan_password@localhost:5432/watchyourlan?sslmode=disable&search_path=watchyourlan